<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../static/css/public.css" media="all" />


	<link rel="stylesheet" href="../../static/layui/css/style.css" type="text/css" />
	<link rel="stylesheet" href="../../static/css/tag.css" media="all" />
	<script type="text/javascript" src="../static/ueditor/jquery.1.4.2-min.js"></script>

	<script src="../../static/ueditor/ueditor.com.oauth.server.config.js"></script>
	<script src="../../static/ueditor/ueditor.all.min.js"></script>
	<script src="../../static/ueditor/lang/zh-cn/zh-cn.js"></script>

</head>
<body class="childrenBody">
<form class="layui-form ">
	<div class="layui-row">
		<div class="layui-col-md9 layui-col-xs12">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md9 layui-col-xs7">
					<div class="layui-form-item magt3">
						<label class="layui-form-label">文章标题</label>
						<div class="layui-input-block">
							<input name="arttitle" type="text" class="layui-input newsName" required lay-verify="newsName" id="arttitle" placeholder="请输入文章标题">
						</div>
					</div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">来源</label>
                        <div class="layui-input-block">
							<input  name="artfrom" id="artfrom" placeholder="请输入文章来源"  class="layui-input" required style="width: 20%;">
                        </div>
                    </div>
					<div class="layui-form-item">
						<label class="layui-form-label">作者</label>
						<div class="layui-input-block">
							<input  name="artauthor" id="artauthor" placeholder="请输入文章作者"  class="layui-input" required style="width: 20%;">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">文章栏目</label>
						<div class="layui-input-block">
						<div class="layui-input-inline">
							<select name="platform_id" id="platform_id" lay-filter="platformType" >
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="top_level_id"  id="top_level_id" lay-filter="topLevelType">
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="sec_level_id" id="sec_level_id">
							</select>
						</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">文章标签</label>
						<div class="layui-input-block">
							<input  name="arttags" placeholder="请输入文章标签"  id="arttags" class="layui-input" required>
						</div>
						<div class="layui-input-block">
							<div class="layui-left layui-col-md9" id="keyList">

							</div>
							<div class="layui-right layui-col-md3">
								<a href="javascript:void(0);"   onclick="refreshTags()" style="color:#3366cc;">换一换</a>
							</div>
						</div>
					</div>


					<div class="layui-form-item">
						<label class="layui-form-label">内容摘要</label>
						<div class="layui-input-block">
							<textarea name="artabstract" placeholder="请输入内容摘要"  class="layui-textarea abstract" required id="artabstract"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">宣传图</label>
						<div class="layui-input-block">
							<div class="layui-upload-list thumbBox mag0 magt3 layui-col-md4">
								<img class="layui-upload-img thumbImg" id="artimage" name="artimage" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">文章内容</label>
						<div class="layui-input-block">

							<textarea  name="artcontent" id="artcontent" required style="width:100%; height: 400px"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">
							<i class="layui-icon">&#xe609;</i> 发　布</label>
						<div class="layui-input-block" id="artstatus" >
							<input type="radio" name="release" id="release0" value="0" title="保存草稿" lay-skin="primary" lay-filter="release" />
							<input type="radio" name="release" id="release5" value="5" title="立即发布" lay-skin="primary" lay-filter="release" checked />
							<input type="radio" name="release" id="release6" value="6" title="定时发布" lay-skin="primary" lay-filter="release" />
						</div>
					</div>
					<div class="layui-form-item layui-hide releaseDate">
						<label class="layui-form-label"></label>
						<div class="layui-input-block">
							<input type="text" class="layui-input" name="pubtimes" id="pubtimes" placeholder="请选择日期和时间" readonly />
						</div>
					</div>
					<div class="layui-form-item newsTop">
						<label class="layui-form-label"><i class="seraph icon-zhiding"></i> 置　顶</label>
						<div class="layui-input-block">
							<input type="hidden" name="artistop" id="artistop" value="0"  >
							<input type="checkbox"  name="istop" id="istop" lay-skin="switch" lay-filter="istop" lay-text="是|否">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"></label>
						<a class="layui-btn layui-btn-sm" lay-filter="addNews" lay-submit><i class="layui-icon">&#xe609;</i>提交</a>
						<!--<a class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="look" lay-submit>预览</a>-->
					</div>
				</div>
			</div>
			<!--<div class="layui-row layui-col-space1">
				<label class="layui-form-label layui-col-md2">文章内容</label>
				<div class="layui-col-md12">
					<textarea  name="artcontent" id="artcontent"></textarea>
				</div>
			</div>-->
		</div>
	</div>


	<input type="hidden" id="myid" name="myid"  value="0">
	<input type="hidden" id="hid_content">
	<input type="hidden" id="hid_platform_id">
	<input type="hidden" id="hid_top_level_id">
	<input type="hidden" id="hid_sec_level_id">
</form>


<script type="text/javascript" src="../../static/layui/layui.js"></script>
<script type="text/javascript" src="../../static/js/article/newsAdd.js"></script>

<!--标签-->
<!--<script type="text/javascript" src="../../static/layui/tag1.js"></script>
<script type="text/javascript" src="../../static/layui/tag2.js"></script>
<script type="text/javascript" src="../../static/layui/tag3.js"></script>
<script type="text/javascript" src="../../static/layui/tag4.js"></script>-->


</body>
<script>
	var ve=UE.getEditor("artcontent");
	UE.Editor.prototype._bkGetActionUrl=UE.Editor.prototype.getActionUrl;
	UE.Editor.prototype.getActionUrl=function (action) {
		if(action=='uploadimage'||action=='uploadvideo'||action=='uploadfile'||action=='uploadvideo'||action=='uploadscrawl')
		{
			return '/ueditor/uploadFile?action='+action;
		}
		else
		{
			return this._bkGetActionUrl.call(this,action);
		}
	}
</script>
</html>