package ${package}.service.${moduleName};
import ${package}.entity.${moduleName}.${className}Bean;
import ${package}.service.IService;

public interface ${className}Service extends IService<${className}Bean,${pk.attrType}> {

}
